**/__pycache__/
**/*.pyc
**/*.pyo
/penguin_dataset.zip
/gdrive-key.json
/.venv
/data
penguin_classifier.egg-info
logs/
models/
testing.py
**/*.pkl
!models/.gitkeep
!data/raw/.gitkeep
models/penguin_model.pkl
/.pytest_cache